---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2 text-black">
    <div class="text-sm font-light">
      <p style="color: black !important;">
        Hi, I'm Anushka Desai, a front-end software developer in Berlin.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li style="color: black !important;">JavaScript</li>
        <li style="color: black !important;">React</li>
        <li style="color: black !important;">Angular</li>
        <li style="color: black !important;">Astro</li>
        <li style="color: black !important;">Typescript</li>
        <li style="color: black !important;">Python + PyQt</li>
        <li style="color: black !important;">Java + JavaFx</li>
        <li style="color: black !important;">SQL</li>
      </ul>
    </div>
    <p class="text-sm font-light" style="color: black !important;">
      Beyond coding, I'm passionate about Videogames, Game Design, Fine and Digital Art, Film, and Gastronomy.
      A fun fact about me is that I'm a huge fan of the Star Wars franchise. I deeply connect with the all frightening 'Darth Vader'.
    </p>
  </div>
</Card>