---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="h-full text-black"> 
    <header class="flex items-center">
      <h1 class="text-black text-m font-bold">
        Let's start working together!
      </h1>
    </header>

    <p class="text-xs">+49 1759505097</p>
    <p class="text-xs">bus.anushka22903@gmail.com</p>
    <p class="text-xs">Berlin, Germany</p>
  </div>
</Card>